
.body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    height: 100%;
}

.game {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    //align-items: stretch;
    position: relative;
    //min-height: 100vh;
    height: 100%;
}

.title {
    color: gold;
    font-family: 'Pacifico', Arial, Helvetica, sans-serif;
    @media screen and (max-width: 700px){
        margin-top: 0.5em;
        font-size: 18px;
    }
}

.left {
    width: 100%;
    box-sizing: border-box;
    min-height: 100vh;
    height: 100%;
    padding: 3em;
  
    padding-top: 0.2em;
    //background-color: yellow;
    @media screen and (max-width: 500px){
        padding: 1em;
    }

    h2 {
        text-align: center;
        font-weight: normal;
        color: #4d5b66;
        font-size: 30px;
      
       
    }
    span {
        text-align: center;
        
    }
    
}



div.swal2-range{
    flex-wrap: wrap;
}

.swal2-range input{
    display: block;
    width: 100%;
}
.swal2-range output{
    display: block;
    margin: 0 auto;
    font-size: 1.8em;
    white-space: nowrap;
    width: auto;

    &::before {
        content: '$ ';

    }


  

    
}

.footer-buttons {
    display:flex;
    flex-wrap: wrap;
  
    justify-content: center;
}


.rigth{
    padding: 0.6em;
    display: flex;
    flex-direction: column;
    width: 200px;
    //min-height: 100vh;
    //height: 100%;
    box-shadow: 0px 10px 15px 3px rgba(0,0,0,0.5);
    box-sizing: border-box;
    @media screen and (max-width: 500px){
        width: 110px;
    }
    
}

.valor {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    margin: 0.2em;
    background-color: gold;
    padding: 0.1em;
    text-align: center;
  
    font-size: 0.7em;
    font-weight: bold;
    color: grey;
    flex-grow: 1;
    transition-property: opacity color background-color;
    transition: linear opacity 2s;
}



.valor-abierto{
    opacity: 0.2;
    color:White;
    background-color:Grey;

 
}


.trato-aceptado, .bienvenida{
    text-align: center;

    text-align: center;
    h2 {
        margin-bottom: 0;
    }

    span {
        font-weight: lighter;
        text-align: center;
    }
}

.swal-confirmButton {
    background-color: Tomato;
}
