.call {
    padding: 1em;
    margin: 1em;
    min-width: 280px;
    background-color:slategrey;
    text-align: center;

    div {
        margin-top: 1em;;
    }

    span {
        color: White;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    h2 {
        color: white;
        margin: 0;
    }

    input {
        margin: 0.5em;
        
    }
}